<% if commentable.comments.present? %>
  <h6><%= pluralize commentable.comments.count, t("feature.comment.label") %></h6>
  <ul>
    <% for comment in commentable.comments %>
      <li>
        <%= content_tag :strong, comment.display_submitter if comment.display_submitter %>
        <span class="weak">
          <%= comment.created_at.strftime("%m/%d/%Y") %>
        </span> 
        <%= comment.comment %>
      </li>
    <% end %>
  </ul>
<% end %>

<h6><%= t("feature.comment.action") %></h6>
<%= render "comments/new", :commentable => commentable %>