<a href="<%= feature_point_path(activity_item.subject) %>">
  <strong><%= activity_item.user_name %></strong> 
  <%= t("activity.point.action") %> 
  <%= t("activity.point.indefinite_article")%>
  <%= FeaturePoint.model_name.human %> 
  <%= t("activity.point.in_region", :region => activity_item.region.name) if activity_item.region.present? %>
</a>