<% @activity_items.each do |activity_item| %>
<li class="clearfix" data-id="<%= activity_item.id %>" data-feature-id="<%= activity_item.feature.id %>">
  <div class="avatar">
    <%= avatar_for(activity_item.user) if activity_item.user.present? %>
    <div class="badge <%= activity_item.subject_type.underscore %>"></div>
  </div>
  <%= render "#{activity_item.subject_type.underscore}.html", :activity_item => activity_item  %>
</li>
<% end %>