<% url_help = Shareabouts::Application.routes.url_helpers %>
 
$(function() {
  var locate_feature   = $("#locate_feature"),
      finalize_feature = $("#finalize_feature");
      
  var NewMarkerIcon = L.Icon.extend({
    iconUrl     : '<%= image_path("marker-plus.png") %>',
    iconSize    : new L.Point(25, 41),
    iconAnchor  : new L.Point(12, 41),
    popupAnchor : new L.Point(13, -14)
  });
  
  var CrosshairIcon = L.Icon.extend({
    iconUrl  : '<%= image_path("crosshair.png") %>',
    iconSize : new L.Point(63, 64),
    iconAnchor : new L.Point(33,32),
    popupAnchor : new L.Point(0,0),
    shadowSize : new L.Point(0,0) // no shadow
  });
  
  var shareaboutsCfg = {
    map : {
      tileUrl          : 'http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      tileAttribution  : 'Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">',
      newMarkerOptions : {
        icon : new NewMarkerIcon()
      },
      crosshairIcon   : new CrosshairIcon()
    },
    callbacks : {
      onready : function(something) {
        locate_feature.show();
        finalize_feature.hide();
      },
      onload : function() {
        if (window.shareabouts && window.shareabouts.feature) {
          $("#map").shareabout("viewFeature", window.shareabouts.feature.properties.id)
        }
      },
      onpopup : function() {
        locate_feature.hide();
        finalize_feature.hide();
      }
    },
    featuresUrl : '<%= url_help.feature_points_path %>',
    featureUrl : '<%= url_help.feature_point_path("FEATURE_ID") %>'
  };
  
  var initShareabouts = function (mapCenter) {
    if (window.shareabouts && window.shareabouts.feature){
      shareaboutsCfg.features = [window.shareabouts.feature];
    }
    
    $.extend( true, shareaboutsCfg, { map : { center : mapCenter} } );
    
    $("#map").shareabout(shareaboutsCfg);
     
    locate_feature.click( function(event) { 
      $("#map").shareabout("locateNewFeature");
      $(this).hide();
      finalize_feature.show();
    });
     
    finalize_feature.click( function(event) { 
      $("#map").shareabout("loadNewFeatureForm", {
        url : '<%= url_help.new_feature_point_path %>' 
      });
      
      $(this).hide();
    });
    
    $("#map").shareabout("addClickEventListenerToPopup", "form#new_feature_point input:submit", function(mouseEvent, target){
      mouseEvent.preventDefault();
      
      var input = $(mouseEvent.target),
          form  = input.closest("form");
          
      var newFeature = $("#map").shareabout("getNewFeatureMarker");
      
      var ajaxOptions = { 
        data : form.serialize() + "&latitude=" + newFeature.getLatLng().lat + "&longitude=" + newFeature.getLatLng().lng, 
        url : form.attr("action") 
      };
      
      $("#map").shareabout("submitNewFeature", ajaxOptions);
    });
    
    // <IE9 does not support live detection of submit event and leaflet steals clicks within a popup.
    // Thus, registering click event on popup's forms via SidePopup, who fires event on popup click.
    $("#map").shareabout("addClickEventListenerToPopup", "form[data-behavior=load_result_in_popup] :submit", function(mouseEvent, target){
      mouseEvent.preventDefault();
      
      var input = $(mouseEvent.target),
          form  = input.closest("form");
          
      $.post( form.attr("action"), form.serialize(), function(data) {
        $("#map").shareabout("getPopup").setContent(data.view);
      }, "json" );
    });
  };
  
  initShareabouts( new L.LatLng(40.727857, -73.947151) ); 
});