<% url_help = Shareabouts::Application.routes.url_helpers %>

// Namespace object
var Shareabouts = Shareabouts || {};

(function(S){
  S.init = function(){
    var Map = $("#map"),
        pageLinks,
        featurePopup,
        addFeature;

    var MarkerIcon = L.Icon.extend({
      iconUrl     : '<%= image_path("feature-point.png") %>',
      iconSize    : new L.Point(17, 18),
      iconAnchor  : new L.Point(9, 11),
      popupAnchor : new L.Point(0, 0),
      shadowSize  : new L.Point(0, 0)
    });

    var FocusedMarkerIcon = L.Icon.extend({
      iconUrl     : '<%= image_path("marker-focused.png") %>',
      iconSize    : new L.Point(25, 41),
      iconAnchor  : new L.Point(13, 41),
      popupAnchor : new L.Point(0, -33),
      shadowSize  : new L.Point(41, 41),
      shadowUrl   : '<%= image_path("marker-shadow.png") %>'
    });

    var NewMarkerIcon = L.Icon.extend({
      iconUrl     : '<%= image_path("marker-plus.png") %>',
      iconSize    : new L.Point(25, 41),
      iconAnchor  : new L.Point(13, 41),
      popupAnchor : new L.Point(0, -33),
      shadowSize  : new L.Point(41, 41),
      shadowUrl   : '<%= image_path("marker-shadow.png") %>'
    });

    var CrosshairIcon = L.Icon.extend({
      iconUrl     : '<%= image_path("crosshair.png") %>',
      iconSize    : new L.Point(63, 64),
      iconAnchor  : new L.Point(33,32),
      popupAnchor : new L.Point(0,0),
      shadowSize  : new L.Point(0,0) // no shadow
    });

    // Init the slider for filtering the results by popularity
    var initPopularitySlider = function(values) {
      // Popularity Filter
      $('#map-container').hiderslider({
        title: 'Filter by Popularity',
        slider: {
          max: values.length-1,
          slide: function(e, data) {
            Map.shareabout('filterByPopularity', values[data.value]);
          },
          change: function(e, data) {
            Map.shareabout('filterByPopularity', values[data.value]);
          }
        }
      });
    };

    // Initialize shareabouts map
    Map.shareabout({
      map : {
        maxZoom   : window.shareabouts.map_max_zoom,
        minZoom   : window.shareabouts.map_min_zoom,
        maxBounds : window.shareabouts.map_bounds,
        center    : window.shareabouts.map_center || new L.LatLng(40.719991, -73.999530),
        zoomAnimation : false
      },
      tileUrl          : 'http://otile1.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      tileAttribution  : '&copy; 2012 <a target="_blank" href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a target="_blank" href="http://creativecommons.org/licenses/by-sa/2.0/">CCBYSA</a> - Tiles by <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">',
      markerIcon: new MarkerIcon(),
      focusedMarkerIcon: new FocusedMarkerIcon(),
      newMarkerIcon: new NewMarkerIcon(),
      crosshairIcon   : new CrosshairIcon(),
      locationTypeMarkerIcons : window.shareabouts.LocationTypeIcons,
      initialZoom : window.shareabouts.map_initial_zoom,
      callbacks : {
        onready : function(something) {
          addFeature.reset();
        },
        onload : function() {
          // See views/feature_points/index.html.erb
          // TODO: Should this just be handled automatically? A user shouldn't
          // have to know about this, methinks.
          if (window.shareabouts && window.shareabouts.initialFeatureId) {
            Map.shareabout("viewFeature", window.shareabouts.initialFeatureId)
          }

          // Popularity slider only shows up on the desktop
          if ( !Map.shareabout("smallScreen") ) {
            initPopularitySlider(Map.shareabout('getPopularityStats').uniqueVals);
          }
        },
        onpopup : function() {
          addFeature.hide();

          // Hide mobile dropdown menu if visible
          pageLinks.hide();
        }
      },
      validatePointUrl: '<%= url_help.within_region_feature_points_path %>',
      newFeatureUrl: '<%= url_help.new_feature_point_path %>',
      // Intial feature to show
      initialFeatureId : window.shareabouts.initialFeatureId,
      featuresUrl      : '<%= url_help.feature_points_path %>',
      featureUrl       : '<%= url_help.feature_point_path("FEATURE_ID") %>',
      polygonsUrl      : '<%= url_help.feature_polygons_path %>', // json of coordinates for multipolygon areas
      dragHint         : '<%= I18n.t "map_controls.drag_hint" %>',
      dragHintLong     : '<%= I18n.t "map_controls.drag_hint_long" %>'
    });

    // Init the PageLinks object to handle page content in the popup
    pageLinks = S.PageLinks({
      showPageCallback: function(data) {
        // TODO: handle this with custom events when shareabouts.js supports them
        Map.shareabout("openPopup", data.view);
      }
    });

    // Init events on the popup when it has feature content
    featurePopup = S.FeaturePopup({
      popup: Map.shareabout('getPopup')
    });

    // Init controls for adding a new feature
    addFeature = S.AddFeature({
      locateFeature: '#locate_feature',
      finalizeFeature: '#finalize_feature'
    });

    // Desktop only
    if ( !Map.shareabout("smallScreen") ) {
      // Init the activity ticker
      $("#ticker").activityticker({
        url    : "<%= url_help.activity_index_path %>",
        toggle : function(e){
          $("#content").toggleClass("ticker_on");
        },
        click: function(e, ui) {
          e.preventDefault();
          Map.shareabout('viewFeature', ui.featureId);

          // Reset filtering
          $('#map-container').hiderslider('reset');
        }
      });
    }
  };
})(Shareabouts);

// Init Shareabouts when document is ready
$(function() {
  Shareabouts.init();
});