<div id="content-wrapper">

  <%= form_tag upload_regions_path, :multipart => true do %>
    <p>
      <%= label_tag "shp" %> 
      <%= file_field_tag "file[shp]" %>
    </p>  
    <p>
      <%= label_tag "dbf" %> 
      <%= file_field_tag "file[dbf]" %>
    </p>
    <p>
      <%= label_tag "shx" %> 
      <%= file_field_tag "file[shx]" %>
    </p>
    <p>
      <%= label_tag "prj (optional)" %> 
      <%= file_field_tag "file[prj]" %>
    </p>
    <p>
      <%= label_tag "region type" %> 
      <%= text_field_tag "region[kind]" %>
    </p>
    <p>
      <%= label_tag "name field name" %> 
      <%= text_field_tag "field_names[name]" %>
    </p>
    <p>
      <%= label_tag "description field name (optional)" %> 
      <%= text_field_tag "field_names[description]" %>
    </p>
    <%= submit_tag "upload" %>
  <% end %>
  
</div>