<div id="content-wrapper">

  <h2>Regions</h2>

  <table class="regions">
    <tr>
      <th>id</th>
      <th>kind</th>
      <th>name</th>
      <th>description</th>
      <th>created</th>
    </tr>
  <% for region in @regions %>
    <tr>
      <td><%= region.id %></td>
      <td><%= region.kind %></td>
      <td><%= region.name %></td>
      <td><%= region.description %></td>
      <td><%= time_ago_in_words region.created_at %> ago</td>
    </tr>
  <% end %>
  </table>

</div>