<!DOCTYPE html>
<html>
<head>
  <title>Shareabouts</title>
  
  <%= stylesheet_link_tag "/leaflet/leaflet.css" %>
  <!--[if lte IE 8]><%= stylesheet_link_tag "/leaflet/leaflet.ie.css" %><![endif]-->
	<%= javascript_include_tag "/leaflet/leaflet.js" %>
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <div id="content">
      <%= yield %>  
    </div>

    <div id="header"></div>
    <div id="footer">
      <%= yield :footer %>        
    </div>
  </div>
</body>
</html>
