<!DOCTYPE html>
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html dir="ltr" lang="en-US" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html dir="ltr" lang="en-US"> <!--<![endif]-->

<head>
  <title><%= t "app_name" %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <%= favicon_link_tag %>
	<link rel="apple-touch-icon" href=""><!--60X60-->

  <%= stylesheet_link_tag "/leaflet/leaflet.css" %>
  <!--[if lte IE 8]><%= stylesheet_link_tag "/leaflet/leaflet.ie.css" %><![endif]-->
	<%= javascript_include_tag "/leaflet/leaflet.js" %>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div id="wrapper">
    <header id="header" role="banner">
      <hgroup>
        <h1 id="site-title"><span><%= link_to t("app_name"), root_path %></span></h1>
      </hgroup>
      <nav id="pages" role="navigation">
        <ul>
          <% for page in Page.published %>
          <li>
            <%= link_to page.title, page_path(page), page_link_attributes(page) %>
          </li>
          <% end %>
        </ul>
      </nav>
      <nav id="access" role="navigation">
        <% if current_user %>
        <%= render "shared/account" %>
        <% else %>
          <span><%= t("auth.sign_in") %></span>
          <%= render "shared/sign_in" %>
        <% end %>
      </nav>
    </header>
    <div id="content">
      <%= yield %>  
    </div>
    <div id="footer">
      <%= yield :footer %>        
    </div>
  </div>
  <%= yield :javascript %>
  <%= render 'shared/javascript_options' %>
  <div data-version="<%= Rails.application.config.version %>" style="display: none;"></div>
</body>
</html>
