<div class="feature new">
  <h2><%= t("feature.form.header") %></h2>

  <% if @feature_point.errors.present? %>
    <ul>
      <% @feature_point.errors.each do | field, message | %>
        <li><%= "#{"#{field} " unless field == :base }#{message}" %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_for @feature_point do |form| %>
    <div>
      <%= form.text_field :name, :placeholder => t("feature.form.title_label") %>
    </div>
    <% if LocationType.any? %>
      <div>
        <%= form.fields_for :feature_location_type, @feature_point.build_feature_location_type do |fields| %>
          <%= fields.collection_select :location_type_id, LocationType.all, :id, :name, :include_blank => "Type" %>
        <% end %>
      </div>
    <% end %>
    <div>
      <%= form.text_area :description, :placeholder => t("feature.form.description_label"), :cols => 1, :rows => 4 %>
    </div>
    <% if !current_user %>
      <div>
        <%= form.text_field :submitter_name, :placeholder => t("feature.form.submitter_name_label") %>
      </div>
    <% end %>
    <div>
    <%= form.submit t("feature.form.submit")%>  
    </div>
    </li>
  <% end %>
</div>