<% if @point.errors.present? %>
  <ul>
    <% @point.errors.each do | field, message | %>
      <li><%= "#{"#{field} " unless field == :base }#{message}" %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @point do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.fields_for :comments, @point.comments.build do |comments_fields| %>
    <%= comments_fields.label :comment %>
    <%= comments_fields.text_area :comment %>
    <br>
  <% end %>
  <%= form.submit %>  
<% end %>