<dl>
  <dt>
    id: 
  </dt>
  <dd>
    <%= feature_point.id %>
  </dd>
  <dt>
    name: 
  </dt>
  <dd>
    <%= feature_point.name %>
  </dd>
  <dt>
    lat: 
  </dt>
  <dd>
    <%= feature_point.latitude %>
  </dd>
  <dt>
    lng: 
  </dt>
  <dd>
    <%= feature_point.longitude %>
  </dd>
  <dt>
    description: 
  </dt>
  <dt>
    suggested: 
  </dt>
  <dd>
    <%= time_ago_in_words feature_point.created_at %> ago
  </dd>
  <dt>
    updated_at: 
  </dt>
  <dd>
    <%= feature_point.updated_at %>
  </dd>
</dl>

<% if feature_point.comments.present? %>
  <h3>Comments</h3>
  <ul>
    <% for comment in feature_point.comments %>
      <li><%= time_ago_in_words comment.created_at %> ago: <%= comment.comment %></li>
    <% end %>
  </ul>
<% end %>

<span class="supporter_count"><%= pluralize  feature_point.votes_count, t("labels.voter_description") %></span>

<%= render "feature_points/support.html", :supportable => feature_point %>