<dl>
  <dt>
    id: 
  </dt>
  <dd>
    <%= feature_point.id %>
  </dd>
  <dt>
    name: 
  </dt>
  <dd>
    <%= feature_point.name %>
  </dd>
  <dt>
    regions:
  </dt>
  <dd>
    <%= feature_point.regions.map(&:display_name).join(", ") %>
  </dd>
  <dt>
    lat: 
  </dt>
  <dd>
    <%= feature_point.latitude %>
  </dd>
  <dt>
    lng: 
  </dt>
  <dd>
    <%= feature_point.longitude %>
  </dd>
  <dt>
    suggested: 
  </dt>
  <dd>
    <%= time_ago_in_words feature_point.created_at %> ago
  </dd>
</dl>

<div class="support">
  <%= render "shared/support.html", :supportable => feature_point %>  
</div>

<div class="discussion">
  <%= render "shared/discussion.html", :commentable => feature_point %>
</div>