<div class="feature show">
  <% if admin_signed_in? %>
    <div class="feature-admin">
      <%= render "feature_points/admin.html", :feature_point => feature_point %>     
    </div>
  <% end %>

  <% if feature_point.name.present? %>
    <h2 class="name"><%= feature_point.name %></h2>
  <% end %>

  <div class="weak"><%= feature_meta(feature_point) %></div>

  <% if feature_point.description.present? %>
    <div class="description">
      <%= feature_point.description %>
    </div>
  <% end %>
  
  <div class="meta weak">
    <ul>
      <li class="first">
        <%= feature_point.regions.map(&:display_name).join(", ") %>
      </li>
    </ul>
  </div>
  
  <div class="support">
    <%= render "votes/new", :supportable => feature_point %>
  </div>
  
  <div class="sharing">
    <%= render "shared/share.html", :shareable => feature_point %>  
  </div>

  <div class="discussion">
    <%= render "shared/discussion.html", :commentable => feature_point %>
  </div>
</div>