<div class="feature show">
  <% if admin_signed_in? %>
    <div class="feature-admin">
      <%= render "feature_points/admin.html", :feature_point => feature_point %>     
    </div>
  <% end %>

  <% if feature_point.name.present? %>
    <h2 class="name"><%= feature_point.name %></h2>
  <% end %>

  <div class="weak">
    <%= t "feature.submitted_by", :author => feature_point.display_submitter, :date_s => l(feature_point.created_at, :format => :display) %>
  </div>

  <% if feature_point.description.present? %>
    <div class="description">
      <%= feature_point.description %>
    </div>
  <% end %>
  
  <div class="meta weak">
    <ul>
      <% feature_point.meta_data.each_with_index do |datum, index| %>
      <li<%= " class=first" if index == 0 %>>
      <%= datum %>
      </li>
      <% end %>
    </ul>
  </div>
  
  <div class="support">
    <%= render "votes/new.html", :supportable => feature_point %>
  </div>
  
  <div class="sharing">
    <%= render "shared/share.html", :shareable => feature_point %>  
  </div>

  <div class="discussion">
    <%= render "shared/discussion.html", :commentable => feature_point %>
  </div>
</div>